@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
}

:root{
  --main-color:#ff702a;
  --text-color:#fff;
  --bg-color:#1e1c2a;
  --big-font:5rem;
  --h2-font:2.25rem;
  --p-font:0.9rem;
}

*::selection{
  background: var(--main-color);
  color:#fff;  
}

body{
/* color: var(--text-color);
 background-color: var(--bg-color); */
  background-color: #fff;
  color: black; 

}

.dark {
  background: black;
  color:white;
}

header{
  position: fixed;
  top:0 ;
  right: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 170px;
  background: var(--bg-color); 
}
.logo{
  font-size: 2.4rem;
  font-weight: 600;
  color: var(--main-color);
}

.navbar{
  display: flex;
  align-items:center;
  justify-content: center;

}

.navbar a{
  padding: 10px 20px;
  color: var(--text-color);
  font-size: 1.1rem;
  font-weight: 500;

}

.navbar a:hover{
  color: var(--main-color); 
  transition: .4s;
}

#menu-icon{
  font-size: 2rem;
  cursor: pointer;
  display: none;
}

section {
  padding: 70px 8% ;
}
.home{
  width: 100%;
  min-height: 90vh;
  display: grid;
  grid-template-columns:repeat(2, 1fr);
  align-items:center;
  grid-gap: 1.5rem;
}

.home-img img{
 max-width: 100%;
 width: 600px;
 height: auto;
}

.home-text h1{
  font-size: var(--big-font);
  color: var(--main-color);
}

.home-text h2{
  font-size: var(--h2-font);
  margin: 1rem 0 2rem ;
}

.btn{
  display: inline-block;
  color: #fff;
  background-color: var(--main-color);
  padding: 10px 20px;
  border-radius: 0.5rem;
}

.btn:hover{
  transform: scale(1.2) translateY(10px);
  transition: 0.4S;
}

.about{
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  align-items: center;
  grid-gap: 1.5rem;
}
.about-img img{
  max-width: 100%;
  width: 480px;
  height: auto;
}

.about-text span{
  color: var(--main-color);
  font-weight: 600;
}
.about-text h2{
  font-size: var(--h2-font);
}

.about-text p{
  margin:0.8rem 0 1.8rem ;
  line-height: 1.7;

}

.heading{
  text-align: center;
}

.heading span{
   font-weight: 600;
   color: var(--main-color);
}

.heading h2{
  font-size: var(--h2-font);
}

.menu-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px,auto));
  grid-gap: 1.5rem;
  align-items: center;


}
.menu-container .box{
  position: relative;
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #feeee7;
  border-radius: 0.5rem;

}

.box-img{
  width: 220px;
  height: 220px;
}
.box-img img{
  width: 100%;
  height: 100%;
}

.box h2{
  font-size: 1.3rem;
  color: var(--bg-color);
}

.box h3{
  font-size: 1rem;
  color: var(--bg-color);
  font-weight: 400;
  margin: 4px 0 10px;
}

.box span{
  font-size: var(--p-font);
  font-weight: 600;
  color: var(--main-color);
}

.box .bx {
  background-color: var(--main-color);
  position: absolute;
  right: 0;
  top: 0;
  font-size: 20px;
  padding: 7px 10px;

  border-radius: 0 0.5rem 0 0.5rem;
}

.service-conrainer{
  display: grid;
  grid-template-columns:repeat(auto-fit, minmax(240px, auto));
  grid-gap: 1.5rem;
  align-items: center;
  justify-content: center;
  margin-top: 1.7rem;
}

.service-conrainer .s-box{
 position: relative;
 text-align: center;
}

.s-box img{
  width: 90px;
}

.s-box h3{
  color: var(--main-color);
  font-size: 1.2rem;
  margin: 4px 0 10px;

}

.s-box p{
  font-size: var(--p-font);
  line-height: 1.7;
}

.cta{
  text-align: center;
  background-color: #feeee7;
  width: 66%;
  margin: 40px auto;
  padding: 60px 0px;
  border-radius: 0.5rem;
}

.cta h2{
  color: var(--bg-color);
  font-size: 2rem;
  margin-bottom: 30px;
}

.main{
  display: flex;
  flex-wrap: wrap;
}

.footer{
 padding: 10px 0;
 
}

.col{
 width: 25%;
 cursor: pointer;
}

.col h4{
  position: relative;
  font-size: 1.2rem;
  margin-bottom: 25px;
  color: var(--text-color);
}

.col h4::before{
  position: absolute;
  content: "";
  height: 2px;
  width: 50px;
  background-color: var(--main-color);
  left: 0;
  bottom: -8px;
}

.col:hover h4::before{
  width:25px ;
}

.col ul li:not(:last-child){
  margin-bottom: 15px;

}

.col ul li a{
 color: #9897a9;
 font-size: 1rem;
 display: block;
 text-transform: capitalize;
 transition: .4s;

}
.col ul li a:hover{
  color: var(--text-color);
  transform: translateX(-10px);
}

.col .social{
  width: 220px;
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.col .social a{
  width: 40px;
  height: 40px;
  background-color: var(--main-color);
  color: var(--text-color);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  border-radius: 50%;
  transition: .4s;
}
.col .social a:hover{
  transform: scale(1.2);
  
}

@media(max-width:1560px){
  header{
    padding: 15px 40px;
  }
  :root{
    --big-font:3.5rem;
    --h2-font:2rem;
  }
}

@media(max-width:1140px){
 section{
  padding: 15px 8%;
 }
 #menu-icon{
  display: initial;
  color: var(--text-color);
 }
 header .navbar{
  position: absolute;
  right: 0;
  left: 0;
  top: -400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #2b2640;
  transition: .4s;
 }
 header .navbar.active{
  top: 70px;
 }
 .navbar a{
  padding: 1.5rem;
  display: block;
 }

.col{
  width:50% ;
  margin-bottom: 10px;
}
}


@media(max-width:720px){
  header{
    padding: 10px 16px;
  }
  .home{
    grid-template-columns: 1fr;
    text-align: center;
  }
  .about{
    grid-template-columns: 1fr;
    text-align: center;
  }
  .about-img{
    order: 2;
  }
  section{
    padding: 100px 7%;
  }
}

@media(max-width:575px){
  .col{
    width: 100%;
    padding-left: 8%;
  }

}

/*  */



* {
  box-sizing: border-box;
}



body.dark {
  background: #292C35;
}

.checkbox {
  opacity: 0;
  position: absolute;
}

.label {
  background-color: #111;
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  position: relative;
  height: 26px;
  width: 50px;
  transform: scale(1.5);
}

.label .ball {
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
  height: 22px;
  width: 22px;
  transform: translateX(0px);
  transition: transform 0.2s linear;
}

.checkbox:checked+.label .ball {
  transform: translateX(24px);
}


.fa-moon {
  color: #f1c40f;
}

.fa-sun {
  color: #f39c12;
}

.fa-moon:before {
  content: "\f186";
}
.fa-sun:before {
  content: "\f185";
}